<footer class="footer">
    <div class="footer-links">
        <div class="logo"></div>
        <div class="links">
            <p>
                <a href="/">Terms of Use</a>
            </p>
            <p>
                <a href="/">Cookies</a>
            </p>

            <p>
                <a href="/">Privacy</a>
            </p>
            <p>
                <a href="/">Accessibility</a>
            </p>

        </div>
        <div class="copyright">
            <p> © 2020 Avaya Inc. </p>
        </div>
    </div>
</footer>