<header class="header">
    <section class="header-logo-links">
        <div class="header-width">
            <div class="logo-wrapper">
                <div class="logo-container">
                    <div class="logo"></div>
                    <div class="image-container">
                        <a href="#"><img src="../../../../cs/cop/assets/images/avaya_logo_onecare_@2.png" alt="Avaya Sales &amp; Partner Portal"></a>
                    </div>
                </div>
            </div>
            <!-- *ngIf="hideMobile" -->
            <div class="hideMobileView white-serach-icon-container">
                <span>
          <!-- *ngIf="!show" -->
          <i class="icon-search-marketplace pt-2"></i>

          <!-- <img class="img-cursor" src="../../../../cs/cop/assets/images/white-search-icon-png-19.jpg" width="20" /> -->
        </span>
            </div>

            <div class="mobile-menu">
                <i class="icon-menu"></i>
            </div>
            <ul class="header-links">
                <li class="menuList" copdropdown="">
                    <a href="#">
                        <img src="../../../../cs/cop/assets/images/reportoutage4.png"></a>
                </li>
                <li class="menuList" copDropdown>
                    <a>Current Outages
            <span>
            </span>
          </a>
                </li>

                <li class="menuList" copDropdown>
                    <a>Docs and FAQs
            <span>
            </span>
          </a>
                </li>

            </ul>

        </div>

    </section>
</header>





<div class="action-card-block-wrapper">
    <!-- <div class="loading-shade" *ngIf="isLoadingResults">
        <div class="loader" alt="Please wait..."></div>
    </div> -->
    <div class="action-card-wrapper">
        <!-- <div class="action-card raise">
            <div class="action-inner">
                <div class="icon-action-inner">
                    <p class="icon">
                        <img src="../../../../cs/cop/assets/images/onboarding.png">
                    </p>
                    <h6> Pre Sales Technical Support (ATAC) </h6>
                </div>
                <p> Expert assistance on pre sales technical questions relating to features, functionality, interoperability, integration and designing of Avaya solutions </p>
                <div class="action-link">
                    New Request
                    <i class="icon-add"></i>
                </div>
            </div>
        </div> -->
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="action-card raise">
                        <div class="action-inner">
                            <div class="icon-action-inner">
                                <p class="icon">
                                    <img src="../../../../cs/cop/assets/images/onboarding.png">
                                </p>
                                <h6> Pre Sales Technical Support (ATAC) </h6>
                            </div>
                            <p> Expert assistance on pre sales technical questions relating to features, functionality, interoperability, integration and designing of Avaya solutions </p>
                            <div class="action-link">
                                New Request
                                <i class="icon-add"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="action-card raise">
                        <div class="action-inner">
                            <div class="icon-action-inner">
                                <p class="icon">
                                    <img src="../../../../cs/cop/assets/images/onboarding.png">
                                </p>
                                <h6> Pre Sales Technical Support (ATAC) </h6>
                            </div>
                            <p> Expert assistance on pre sales technical questions relating to features, functionality, interoperability, integration and designing of Avaya solutions </p>
                            <div class="action-link">
                                New Request
                                <i class="icon-add"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="action-card raise">
                        <div class="action-inner">
                            <div class="icon-action-inner">
                                <p class="icon">
                                    <img src="../../../../cs/cop/assets/images/onboarding.png">
                                </p>
                                <h6> Pre Sales Technical Support (ATAC) </h6>
                            </div>
                            <p> Expert assistance on pre sales technical questions relating to features, functionality, interoperability, integration and designing of Avaya solutions </p>
                            <div class="action-link">
                                New Request
                                <i class="icon-add"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="action-card raise">
                        <div class="action-inner">
                            <div class="icon-action-inner">
                                <p class="icon">
                                    <img src="../../../../cs/cop/assets/images/onboarding.png">
                                </p>
                                <h6> Pre Sales Technical Support (ATAC) </h6>
                            </div>
                            <p> Expert assistance on pre sales technical questions relating to features, functionality, interoperability, integration and designing of Avaya solutions </p>
                            <div class="action-link">
                                New Request
                                <i class="icon-add"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="action-card raise">
                        <div class="action-inner">
                            <div class="icon-action-inner">
                                <p class="icon">
                                    <img src="../../../../cs/cop/assets/images/onboarding.png">
                                </p>
                                <h6> Pre Sales Technical Support (ATAC) </h6>
                            </div>
                            <p> Expert assistance on pre sales technical questions relating to features, functionality, interoperability, integration and designing of Avaya solutions </p>
                            <div class="action-link">
                                New Request
                                <i class="icon-add"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="action-card raise">
                        <div class="action-inner">
                            <div class="icon-action-inner">
                                <p class="icon">
                                    <img src="../../../../cs/cop/assets/images/onboarding.png">
                                </p>
                                <h6> Pre Sales Technical Support (ATAC) </h6>
                            </div>
                            <p> Expert assistance on pre sales technical questions relating to features, functionality, interoperability, integration and designing of Avaya solutions </p>
                            <div class="action-link">
                                New Request
                                <i class="icon-add"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="action-card raise">
                        <div class="action-inner">
                            <div class="icon-action-inner">
                                <p class="icon">
                                    <img src="../../../../cs/cop/assets/images/onboarding.png">
                                </p>
                                <h6> Pre Sales Technical Support (ATAC) </h6>
                            </div>
                            <p> Expert assistance on pre sales technical questions relating to features, functionality, interoperability, integration and designing of Avaya solutions </p>
                            <div class="action-link">
                                New Request
                                <i class="icon-add"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="action-card raise">
                        <div class="action-inner">
                            <div class="icon-action-inner">
                                <p class="icon">
                                    <img src="../../../../cs/cop/assets/images/onboarding.png">
                                </p>
                                <h6> Pre Sales Technical Support (ATAC) </h6>
                            </div>
                            <p> Expert assistance on pre sales technical questions relating to features, functionality, interoperability, integration and designing of Avaya solutions </p>
                            <div class="action-link">
                                New Request
                                <i class="icon-add"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer-links">
        <div class="logo"></div>
        <div class="links">
            <p>
                <a href="/">Terms of Use</a>
            </p>
            <p>
                <a href="/">Cookies</a>
            </p>

            <p>
                <a href="/">Privacy</a>
            </p>
            <p>
                <a href="/">Accessibility</a>
            </p>

        </div>
        <div class="copyright">
            <p> © 2020 Avaya Inc. </p>
        </div>
    </div>
</footer>

<router-outlet></router-outlet>