<header class="header">
    <section class="header-logo-links">
        <div class="header-width">
            <div class="logo-wrapper">
                <div class="logo-container">
                    <div class="logo"></div>
                    <div class="image-container">
                        <a href="/"><img src="./cs/cop/assets/images/avaya_logo_onecare_@2.png" alt="Avaya Sales &amp; Partner Portal"></a>
                    </div>
                </div>
            </div>
            <div class="mobile-menu">
                <i class="icon-menu"></i>
            </div>
            <ul class="header-links">
                <li class="menuList" copdropdown="">
                    <a href="/">
                        <img src="./cs/cop/assets/images/reportoutage4.png"></a>
                </li>
                <li class="menuList" copDropdown>
                    <a>Current Outages
            <span>
            </span>
          </a>
                </li>

                <li class="menuList" copDropdown>
                    <a>Docs and FAQs
            <span>
            </span>
          </a>
                </li>
            </ul>
        </div>
    </section>
</header>